<!DOCTYPE html>
<html>
<head>
	<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="style.css" rel="stylesheet" type="text/css">
	<link href='https://fonts.googleapis.com/css?family=Rye' rel='stylesheet' type='text/css'>
	<title>Parenting Lessons</title>
</head>
<body>

	<div class = "container">
		<div class="header"> 
			This is your profile
		</div>

		<div class="inside"> 
			Image<br>
			Fname Lname<br>
			<br>
			<a href=#>Quizes (Link to quiz)</a>
			<br><br>
			Update Profile<br>
			--------------<br>
			Image <input type=text></input><br> 
			Fname <input type=text></input> Lname <input type=text></input><br>
			Password <input type=text></input><br>



		</div>
	</div>

</body>
</html>