<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	Lesson Title<br>
	Quiz<br>
	--------------<br>
Question 1: 
<br>
"When practicing mindfulness, what’s the best posture to adopt?",
<ul>
	<li>"Sitting upright"</li>
	<li>"Lying down on your back"</li>
	<li>"Standing up"</li>
	<li>"All of the above"</li>
</ul>
<br>

Question 1: 
<br>
"When practicing mindfulness, what’s the best posture to adopt?",
<ul>
	<li>"Sitting upright"</li>
	<li>"Lying down on your back"</li>
	<li>"Standing up"</li>
	<li>"All of the above"</li>
</ul>
<br>

Question 1: 
<br>
"When practicing mindfulness, what’s the best posture to adopt?",
<ul>
	<li>"Sitting upright"</li>
	<li>"Lying down on your back"</li>
	<li>"Standing up"</li>
	<li>"All of the above"</li>
</ul>
<br>

Question 1: 
<br>
"When practicing mindfulness, what’s the best posture to adopt?",
<ul>
	<li>"Sitting upright"</li>
	<li>"Lying down on your back"</li>
	<li>"Standing up"</li>
	<li>"All of the above"</li>
</ul>
<br>


<br><br>
<br><br>
<a href=#>Prev Page</a> --- <a href=#>Next Page</a>

</body>
</html>